In [40]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

In [41]:
# Import pwds
from config import postgresql_pwd

In [42]:
# Define database & create connection string
database = "Employees_DB"

db_string = f"postgresql+psycopg2://postgres:{postgresql_pwd}@localhost:5432/{database}"

In [43]:
# Create Engine
engine = create_engine(db_string)
conn = engine.connect()

In [51]:
# Query All Records in the the Database
employees = pd.read_sql(
"select tl.title, sal.salary \
FROM public.employees as emp \
JOIN public.titles as tl \
ON emp.title_id = tl.title_id \
JOIN public.salaries as sal \
ON emp.emp_no = sal.emp_no", conn)

In [52]:
# Preview the Data
employees.head()

              title      salary
0   Senior Engineer  $40,000.00
1  Technique Leader  $43,548.00
2          Engineer  $40,023.00
3             Staff  $71,042.00
4   Senior Engineer  $46,740.00

In [53]:
employees_gr = employees.groupby(["title"])

In [54]:
employees_gr.mean()

DataError: No numeric types to aggregate